<h1>Upgrade Salesforce Version</h1>

<p>
    <%= sanitize @html_content.html_safe %>
</p>
<div>

    <% if @current_option_data["image"] %>
        <%= image_tag(@current_option_data["image"], width: "700px") %>
    <% end %>
</div>
<div class="button-container">
    <% @current_option_data["steps"].each do |step| %>
        <div class="button">
        <%= button_to step["description"], upgrade_salesforce_version_path, method: :get, params: { step: step["id"] } %>
        </div>
    <% end %>
</div>